
@media (min-width: 768px) {
    #advisor-break {
        display: block;
    }
    #advisors {
        .container {
            hgroup {
                // transform: translateY(6rem)
            }
            .team-member {
                .team-member-img { 
                    max-width: 200px;
                }
            }
            ul#advisors-members {
                >:nth-child(2),>:nth-child(4),>:nth-child(6),>:nth-child(7) {
                    // transform: scale(.9)
                }
                >:nth-child(1),>:nth-child(3),>:nth-child(5),>:nth-child(8),>:nth-child(9) {
                    transform: scale(.7)
                }
                >:nth-child(2) {
                    transform: scale(0.9) translate(-40px, 90px);
                    // transform: translate(-40px, 90px);
                }
                >:nth-child(3) {
                    transform: scale(0.7) translate(70px, -60px);
                    // transform: translate(70px, -60px);
                }
                >:nth-child(4) {
                    transform: scale(0.9) translate(30px, 140px);
                    // transform: translate(30px, 140px);
                }
                >:nth-child(5) {
                    transform: scale(0.7) translate(-40px, -10px);
                    // transform: translate(-40px, -10px);
                }
                >:nth-child(6) {
                    transform: scale(.9);
                }
                >:nth-child(7) {
                    transform: scale(0.9) translate(-40px, -70px);
                    // transform: translate(-40px, -10px);
                }
                >:nth-child(8) {
                    // grid-row: 3;
                    // grid-column: 3;
                    transform: scale(0.7) translate(20px, -70px);
                    // transform: translate(20px, -70px);
                }
                >:nth-child(9) {
                    // grid-row: 3;
                    grid-column: 5;
                    transform: scale(0.7) translate(-90px, -10px);
                    // transform: translate(-90px, -10px);
                }
                >:nth-child(10), >:nth-child(11), >:nth-child(12) {
                    display: none
                }
                .team-member {
                    .team-member-desc {
                        // height: 0;
                        small {
                        }
                        .team-members-icons {
                            > * {
                            }
                            >:not(:first-child) {
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    ul#advisors-members > :nth-of-type(n+6):nth-of-type(-n + 11) {
        display: none;
    }
}

#team, #advisors { 
    .team-member {
        .team-member-img {
            &:hover {
            }
            max-width: 200px;
            img {
            }
            &:after {
                border-radius: 200px;
            }
        }
        img {
        }
    }
}



@media (min-width: 768px) {
    #team, #advisors { 
        .team-member {
            .team-member-img {
                img {
                    box-shadow: 0px 0px 0px 15px #6ec5ff36;
                }
                &:after {
                }
            }
            img {
            }
        }
    }
}


#about {
    #about-list-rt {
    }
    .container {
        .btn-group {
        }
        > * { 
        }
        #about-desc {
            h2 {
            }
        }
        #about-art {
            small { 
            }
            #about-list {
                display: grid;
                grid-template-columns: 30px 1fr 30px; 
                [id*='about-list-'] {
                    visibility: visible
                }
                #scrollable-wrap {
                    ul {
                        display: grid;
                        > * {
                        }
                    }
                }
            }
        }
    }
}