$color-1: black;
$color-2: transparentize(#00b0ff, .925);


$bg: #f3f6ff;

$subtle: #583b67;

$font-heading: 'Open Sans', sans-serif;
$font-body: 'Open Sans', sans-serif;

$color-font: #8292a2;
$color-font-heading: #003957;   
$border-radius: 10px; 
$border-radius-btn: 30px; 