//  grid-row: 2/3;
@import '_main';
[style='fill:#1f2042;opacity:0.05'], [style='fill:#0007e7;opacity:0.05'], [style='fill:#f3f5fe'], [style='fill:#0030ff;opacity:0.05'] {
    fill: $color-2!important;
    opacity: 1!important;
} 
@media (max-width: 768px) {
    [style='fill:url(#0f0c05a3-1f05-4c24-97e2-b0e424db0d27)'], [style='fill:url(#e0092b0d-0bf8-4052-9674-0b8ff9b7d191)'] {
        display: none
    }
}

[data-name='car1'] {
    animation: car1 5s linear infinite;
}
div#car-svg {
    position: absolute;
    margin-top:calc(34rem);
    max-width:300px;
    svg {
        width:80%;
    }
}
[data-name='green'] > * {
    fill: $color-1!important
}

:root {
    --resourcesTransform: scale(2);
}
@media screen and (min-width:768px) {
    :root {
        --heroTransform: translateX(calc(100vw - 1280px));
    }
}

a {
    text-decoration: none;
}
section {
    .title {
        color: #f9a223; 
    }
}
p.desc {
    font-size:18px;
    line-height: 24px;
}
.cip-box {
    border-radius: 20px;
}
@media (min-width:768px) {
    .cip-box {
        box-shadow: 0 25px 93px -10px #daf8f3, 0 -5px 33px -10px #daf8f3;
        background: white;
        border-radius: 20px;
    }
    p.desc {
        line-height: 30px;
    }
}
.cip-btn {
    border: 0;
    font-size: 15px;
    padding: 20px 30px;
    border-radius: 0px;
    background: transparent;
    color: white;
    font-weight: 600 !important;
}
.cip-btn-group {
    >:first-child{
        margin-left:0;
    }
    * {
        
    }
.cip-btn.round{
    border-radius: 30px;
}
.cip-btn.null{
    border: 0;
    padding: 20px 0px;
    border-radius: 30px;
    padding: 20px 20px;
    color: white;
}
}

svg {
    display: block;
    overflow:initial;
}
[data-name='vee'] {
    animation: float 5s ease-in-out infinite;
}
[data-name='Rotatable'] {
    animation: rotateAnimation 10s linear;
    animation-iteration-count: infinite;
    transform-origin: 250px;
    fill: #21d646;
}

svg [data-name='Rotatable'] {
    animation-delay: 0ms; 
}
 
.invert { 
    color:white !important;
    * {
        color:white !important;
    }
}
#a-card-col-1.animate {
    animation: col1Anim 80s linear;
    animation-iteration-count: 1;
}
@media (min-width:768px) {
    #a-card-col-1.animate {
        animation: col3Anim 40s linear !important;
        animation-iteration-count: 1 !important;
    }
    #a-card-col-2.animate {
        animation: col4Anim 40s linear !important;
        animation-iteration-count: 1 !important;
    }
}
#a-card-col-2.animate {
    animation: col2Anim 80s linear;
    animation-iteration-count: 1;
}
#a {
    position: relative;
    min-height:780px;
    overflow:hidden;
    min-height:calc(100vh + 110px);
    background:radial-gradient(ellipse 100% 100% at 90% 90%, #f9a223, #f53213);
    display: block !important;
    padding: 0 !important;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;

    #a-title {
        h1.xl {
            font-size: 4em !important;
        }
    }
    .text{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 123;
        margin: .5em;
        padding: 10px;
        font-size: 19px;
        background: #f9a223;
        border-radius: 9px;
        small.invert {
            text-transform: none !important;
            font-size: 10px;
        }
        p {
            margin: 0;
            font-weight: 900;
            color: #21d646;
            font-size:17px;
            line-height:15px;
            .primary {
                color:#21d646;
                text-transform: none;
            }
        }

    }
    .cip-btn {
        &:not(.null){
            background:#21d646;  
            box-shadow: 0px 10px 50px -5px #444444;
            margin-left:0 !important;
        }
    } 
    .container {
        h2 {
            font-size: 21px;
            font-weight: 300;
            padding: 1em 0;
            line-height: 1.5em;
        }
    }
    #a-desc-col {
        max-width: 450px;
        height: 80vh;
        flex: initial;
        transition: .5s opacity linear, transform .5s linear;
        transform: translateY(-50px);
        opacity: 0;
    }
    #a-cards {
        -ms-flex-self: center;
        -webkit-box-self: center;
        -webkit-align-self: center;
        align-self: center;
        z-index: 1;
        margin: -5em -4em 0 -14em;
        >:nth-child(1)>:nth-child(1){
            transition-delay: 50ms;
        }
        >:nth-child(1)>:nth-child(2){
            transition-delay: 100ms;
        }
        >:nth-child(1)>:nth-child(3){
            transition-delay: 150ms;
        }
        >:nth-child(2)>:nth-child(1){
            transition-delay: 100ms;
        }
        >:nth-child(2)>:nth-child(2){
            transition-delay: 200ms;
        }
        >:nth-child(2)>:nth-child(3){
            transition-delay: 300ms;
        }
        .a-card-column {
            >*{
                transform: translateY(-100px);
                opacity: 0;
                box-shadow: -20px 20px 80px -10px rgba(6, 12, 27, 0.51);
                border-radius: 20px;
                position: relative;
                width: 250px;
                height: 250px;
                margin-top: 2em;
                position: relative;
                margin-left: 3em;
                .img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    border-radius: 10px;
                    background-position: 80% 60%;
                }
            }
            transform:rotate(0deg); 
        }
    }
    .container {
        z-index:1;
        position:relative;
        min-height:670px;
        margin: 0 auto;
        max-width: 1440px !important;
    }
    #a-bg {
        width:100%;
        height: 100%;
        position:absolute;
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            background: linear-gradient(180deg, #7A5201, #F1A50D);
            opacity: 0;
        }
    }
    #a-stripes {
        position:absolute;
        width:100%;
        height:100%;
        opacity:.2;
        .a-stripe.a-stripe-1 {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.29), rgba(255, 255, 255, 0.52));
            transform: translate(-32vw, 0) skew(20deg, -20deg);
            height: 120%;
            opacity: .4;
        }
        .a-stripe.a-stripe-2 {
            background: linear-gradient(180deg, rgba(141, 141, 255, 0), rgba(255, 255, 255, 0.13));
            transform: translate(75vw, 0vw) skew(20deg, -20deg) scale(1, 1);
            width: 340px;
            height: 110%;
            opacity: .75;
        }
        .a-stripe.a-stripe-3 {
            background: linear-gradient(-180deg, rgba(255, 255, 255, 0.1), rgba(128, 128, 255, 0));
            transform: translate(25vw, -10%) skew(20deg, -20deg) scale(1, 1);
            height: 53vh;
            width: 210px;
            width: 340px;
            height: 110%;
            opacity: .75;
        }
        .a-stripe {
            width:500px;
            position:absolute;
        }
    }
}
@media (min-width:768px) {
    .container {
        padding:0 2em;
    }
    .flex-column-sm, .flex-column-reverse-sm{
        ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    section#a {
        max-height:960px;
        min-height:960px;
        #a-cards .a-card-column {
            transform: rotate(-20deg);
            > * {
                transition: transform .5s ease, opacity .5s ease;
                opacity: 0;
                margin-top: 4em;
                width: 340px;
                height: 340px;
                margin-top: 4em;
                position: relative;
                margin-left: 6em;
            }
        }
        #a-stripes {
            opacity:1;
        }
        .container {
            max-height:960px;
            height:100%;
            >:nth-child(1){
                -webkit-box-flex: 1 0 1040px;
                -webkit-flex: 1 0 1040px;
                -ms-flex: 1 0 1040px;
                flex: 1 0 1040px;
            }
            >:nth-child(2) {
                -webkit-box-flex: 1 0 440px !important;
                -webkit-flex: 1 0 440px !important;
                -ms-flex: 1 0 440px !important;
                flex: 1 0 440px !important;
            }
            #a-desc-col {
                max-width: 450px;
                margin-left: auto;
                margin-top: -250px;
            }
        }
    }
}
@media (max-width:768px) {
    #a {
        #a-cards {
            max-height: 330px;
            flex-wrap: nowrap;
            -ms-flex-self: center;
            -webkit-box-self: center;
            -webkit-align-self: center;
            align-self: center;
            z-index: 1;
            margin: -5em -2em 7em 0;
        }
    }
}

#cip-desc {
    margin-top: -70px;
    >:nth-child(1) {
        top:0;
        height: 125px;
        overflow:hidden;
        width:101%;
        position:absolute;
        z-index: 1;
    }
    >:nth-child(2) {
        bottom:-55px;
        z-index:1;
        height:100px;
        overflow:hidden;
        width:101%;
        position:absolute;
        transform: rotate(180deg);
    }
    >.container {
        margin:10em auto 0em auto;
        max-width: 1440px;
        #cip-desc-items {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            h3 {
                color: #21d646;
                font-size: 1.35rem;
                font-weight: 900;
                letter-spacing: 1px;
                line-height: 50px;
            }
            >.cip-desc-row-lt {
                position: relative;
                .cip-desc-item {
                    z-index:1;
                    max-width: 400px;
                    margin:0 auto;
                }
            }
            .cip-desc-item {
                position:relative;
                .cip-desc-item-cnt p {
                    margin:0;
                }
                .cip-desc-item-inner {
                    >svg {
                        width: 220px;
                        height: 220px;
                        display: block;
                        margin: 0 auto 2em auto;
                        overflow:hidden;
                    }
                }
            }
        }
    }
}
@media (max-width:768px) {
    .text-center-sm {
        text-align:center;
    }
    #cip-desc-title-desktop {
        display:none;
    }
    #cip-desc {
        >.container #cip-desc-items {
            >:nth-child(1) .cip-desc-item::nth-of-type(1) {
                border-top: 0;
            }
            >.cip-desc-row-lt .cip-desc-item {
                margin: 0 auto;
                width: calc(100% + 2em);
                left: -1em;
                text-align: center;
                padding: 1em 1em 3em;
                background: white;
                border-bottom: 1px solid rgba(63, 51, 193, 0.2);
            }
            .cip-desc-row-lt.align-self-end {
                >:last-child {
                    border-bottom: initial !important;

                }
            }
        }
    }
}
@media (min-width:768px) {
    #cip-desc-title-mobile {
        display:none;
    }
    section#cip-desc {
        margin-top: -110px;
        z-index:2;
        >:nth-child(1) {
            top: 0;
            height: 185px;
            z-index: 1;
        }
        >:nth-child(2) {
            height: 350px;
            bottom: -210px;
            pointer-events: none;
            display: block;
            width: 101%;
            position: absolute;
        }
        .container {
            margin: 10em auto 6em auto;
            width:auto;
            #cip-desc-items {
                position: relative;
                .cip-desc-item {
                    position:relative;
                    overflow:hidden;
                    background: linear-gradient(135deg, #ffffff, #ececff);
                }
                h3 {
                    font-size: 28px;
                }
                h1 {
                    margin:4em 0 1em 0;
                    max-width:400px;
                    text-align:right;
                }
                >:last-child{
                    padding-left:2.5em;
                }
                >:first-child{
                    -webkit-box-self: start;
                    -webkit-align-self: start;
                    align-self: start;
                    padding-right: 2.5em;
                }
                >.cip-desc-row-lt {
                    width:100%;
                    .cip-desc-item {
                        margin-bottom:6em;
                        overflow:hidden;
                        box-shadow: 0 15px 80px -20px #a0a0f3;
                        .cip-desc-item-cnt p {
                            margin:0;
                        }
                        .cip-desc-item-inner {
                            padding: 2em 2em 4em 2em;
                            max-width: 400px;
                        }

                    }
                }
            }
        }
    }
}
#cip-gtfo {
    svg {
        height:600px;
        width:100%;
    } 
    #cip-gtfo-imgs {
        position: absolute;
        height: 100%;
        width:100%;
        .cip-gtfo-img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            transition: all 3s linear, transform 7s linear, object-position 7s linear;       
        }
    }
}
.cip-gtfo-img:nth-child(4) {
    animation: xfade 16s 0s infinite, zoomIn 20s ease-in infinite;
}
.cip-gtfo-img:nth-child(3) {
    animation: xfade 16s 4s infinite, zoomIn 20s ease-out infinite;
}
.cip-gtfo-img:nth-child(2) {
    animation: xfade 16s 8s infinite, zoomIn 20s ease-in infinite;
}
.cip-gtfo-img:nth-child(1) {
    animation: xfade 16s 12s infinite, zoomIn 20s ease-out infinite;
}
@media (max-width:768px) {
    #cip-gtfo {
    overflow:hidden;
    height:600px;
    padding-top:0;
    .cip-gtfo-img {
        filter: brightness(0.5);
        object-position: 50% 50% !important; 
    }
}

}
@media (min-width:768px) {
    #cip-gtfo {
        height:1100px;
        overflow:hidden;
        svg {
            width:100%;
            height:1100px;
        }
    }
}
#sep-only { 
    >:nth-child(1){
    top: -60px;
    height: 100px;
    position: absolute; 
    width: 101%;
    overflow: hidden;
    pointer-events: none;}  
}
#sep-only {
    display:grid;
    padding: 10rem 0 0 0;
    .container {
        padding: 0 1.5rem;
        ul#cip-team-members {
            display:grid;
            grid-gap:30px;
            grid-template-columns: 1fr 1fr;
            li {
                margin:0 auto;
            }
            .cip-team-member {
                text-align: center;
                transition: all .15s linear;
                .cip-team-member-desc {
                    max-width: 260px;
                    padding:1rem 0 0rem;
                    p {
                        font-size:15px;
                        line-height:26px;
                    }
                }
                .cip-team-member-img{
                    transition: all .1s ease-in-out;
                    max-width:200px;
                    margin: 0 auto; 
                    position:relative;
                    svg {
                        border-radius: 100px;
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        margin: 0 auto;
                        display: block;
                        max-width:200px;
                        box-shadow: 0px 0px 0px 5px #eedd86;
                    }
                }
            }
        }
        hgroup {
            text-align: center;
            margin:0 auto 3rem;
            h1 {
                line-height:58px;
            }
            p {
                margin: .5rem 0 1rem 0;
            }
        }
    }
}
@media (min-width:768px) {
    #sep-only {
        >:nth-child(1){
        top: -165px;
        height: 350px;
        position: absolute;
        width: 101%;
        overflow: hidden;
        pointer-events: none;
        }
    }
    #sep-only {
        .container {
            padding:0 2rem;
            max-width: 1280px;
            ul#cip-team-members{
                grid-gap:50px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
                svg {
                    box-shadow: 0px 0px 0px 10px #eedd86 !important;
                }
                .cip-team-member-desc {
                    padding:2rem 0 1.5rem;
                }
            }
        }
    }

#menu {
    padding:0;
    .container {
        max-width:1440px;
        z-index: 1;
        position: relative;
        padding: 0 1rem;
        margin: 0 auto;
        width: 100%;
        hgroup#our-menu {
            text-align: center;
            margin: 8rem 0 5rem 0rem;
        }
        #cip-menu-items {
            display:grid;
            grid-gap:180px;
            grid-template-rows: 1fr 1fr;
            li {
                margin: 0 auto; 
                max-width: 500px;
                position: relative;
                border-radius: 5px;
                box-shadow: 0px 60px 130px -10px #172d3bab;
                .cip-menu-item {
                    position: relative;
                    z-index: 123;
                    z-index: 12;
                    margin: 0 auto;
                    text-align: center;
                    svg {
                        width:100%;
                        margin:0 auto;
                        width:calc(100% + 18px) !important;
                        z-index:123;
                        transition: all .2s ease-in-out;
                        cursor: pointer;
                        &:hover {
                            transform:scale(1.2);
                        } 

                    }
                    #favorites { 
                        hgroup.favorites-wrap {
                            position:absolute;
                            font-size:12px;
                            .attention {
                                position: absolute;
                                width: 11px;
                                height: 11px;
                                left: calc(50% - 7px);
                                top: calc(100% + 30px);
                                z-index: 99999;
                                opacity: 1;
                                visibility: visible;
                                transition: opacity .5s linear, visibility .5s linear;
                                &:after {
                                    content: "";
                                    background-color: rgb(33, 214, 70);
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    position: absolute;
                                    display: block;
                                    top: 1px;
                                    left: 1px;
                                }
                                .attention-outer {
                                    margin: 1px;
                                    display: block;
                                    text-align: center;
                                    opacity: 1;
                                    background-color: rgb(33, 214, 70);
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    animation: pulse 1.5s linear infinite; 
                                }
                                .attention-inner {
                                    background-position: absolute;
                                    display: block;
                                    text-align: center;
                                    opacity: 1;
                                    background-color: rgb(33, 214, 70);
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    animation: pulse 1.5s linear infinite;
                                    &:after {
                                        content: "";
                                        background-position: absolute;
                                        display: block;
                                        text-align: center;
                                        opacity: 1;
                                        background-color: rgb(33, 214, 70);
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                        animation: pulse 1.5s linear infinite;
                                    }
                                }   
                            }

                        }
                    
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    hgroup#the-cadillac {
        left:42% !important;
        top: 21% !important;
    }
    hgroup#the-moscow-mule {
        left:42% !important;
        top: 54.5% !important;
    }
    hgroup#petes-spicy-chili {
        left: 39% !important;
        top: 10.5% !important;
    }
    hgroup#crab-bisque {
        left: 41% !important;
        top: 52.5% !important;
    }
}

@media (min-width:768px) {
    #menu {
        margin:0rem 0 0rem 0;
        .container {
            max-width: 1024px;
            padding:0 2.1rem;
            z-index: 1;
            position: relative;
            margin: 0 auto;
            width: 100%;
            h1 {
                font-size:46px;
            }
            #cip-menu-items {
                grid-gap:50px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                li {
                    margin:initial;
                }
            }
        }
    }
}
.mask {
}
section#cip-devices{
    display:block;
    position:relative;
    hgroup {
        margin: 3rem 0 2rem 0;
    }
    >:nth-child(1){
        bottom:-42px;
        z-index: 1;
        height: 100px;
        overflow: hidden;
        width: 101%;
        position: absolute;
    }
    .container {
        padding:0 1em;
        max-width:1440px;
        margin:0 auto;
        .thin {
            max-width: 900px;
            margin:0 auto;
        }
    }
    .heading {
        line-height:1.3em;
    }
    #cip-device-right {
        width:100%;
    }
    .sidedevices {
        .computeriphone {
            .iphone {
                border-radius: 30px;
                background: linear-gradient(180deg, #f7fbfe 0, #dde2e8);
                box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(187, 200, 225, 0.35), 0 2px 6px rgba(40, 39, 66, 0.14), 0 10px 20px rgba(40, 39, 66, 0.06), 76px 75px 169px -35px rgba(63, 51, 193, 0.5);
                border-style: solid;
                border-color: #e7ecf1;
                overflow: hidden;
                height: 460px;
                width: 220px;
                padding: 45px 8px 60px;
                z-index: 2;
                transform: matrix3d(1, -0.09, 0, 0.00032, 0.05, 1, 0, 0.00006, 0, 0, 1, 0, -9, -70, 0, 1.05);
                position: absolute;
                bottom: 0;
                border-width: 2px 2px 4px 6px;
                .mask {
                    background-image:url('');
                    background-size:cover;   
                }
                &:before {
                    content: "";
                    width: 50px;
                    height: 7px;
                    border-radius: 10px;
                    background: rgba(0, 0, 0, 0.08);
                    position: absolute;
                    top: 24px;
                    left: calc(50% - 25px);
                }
                &:after{
                    content: "";
                    width: 38px;
                    height: 38px;
                    left: calc(50% - 19px);
                    bottom: 12px;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, 0.05);
                    position: absolute;
                }
            }
            .mask {
                height: 100%;
                width: 100%;
                overflow: hidden;
                border-radius: 8px;
                box-shadow: -1px 1px 4px rgba(107, 124, 147, 0.45);
                background: white;
            }
            .computer {
                width:800px;
                height: 560px;
                margin-left: 100px;
                background: linear-gradient(180deg, #f7fbfe 0, #dde2e8);
                border-radius: 18px;
                position: relative;
                box-shadow: inset 0 2px 7px 1px rgba(255, 255, 255, 0.5), inset 0 -5px 20px rgba(187, 200, 225, 0.35), 0 2px 6px rgba(40, 39, 66, 0.14), 0 10px 20px rgba(40, 39, 66, 0.06), 76px 75px 169px -35px rgba(63, 51, 193, 0.5);
                padding: 35px 20px;
                .mask {
                    background-image:url('');
                    background-size:cover;
                }
                &:before {
                    height: 6px;
                    bottom: -11px;
                    border-radius: 0 0 40px 40px;
                    background: #dde2e9;
                    box-shadow: inset 0 -25px 10px -20px rgba(0, 0, 0, 0.5);
                    content: "";
                    position: absolute;
                    border-radius: 3px 3px 0 0;
                    width: calc(100% + 200px);
                    height: 10px;
                    background: linear-gradient(90deg, #f6fafd 0, #dde2e9 6%, #f6fafd 15%, #f6fafd 42%, #e6e6e6 0, #f6fafd 45%, #f6fafd 53%, #e6e6e6 56%, #f6fafd 0, #f6fafd 85%, #dde2e9 94%, #f6fafd);
                    left: -100px;
                    bottom: -5px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #cip-devices {
        margin-top:12em;
        margin-bottom:8em;
        z-index:1;
        >:nth-child(1){
            bottom:-142px !important;
            z-index: 1 !important;
            height: 350px !important;
            overflow: hidden !important;
            width: 101% !important;
            pointer-events:none !important;
            position: absolute !important;
        }
        .container {
            padding:10em 0;
            max-width:1080px;
            margin:0 auto;
            >* {
                flex:1 0 50%; 
            }
        }
        #cip-device-left {
            margin-right: 7em;
            -webkit-box-flex: 1 0 350px;
            -webkit-flex: 1 0 350px;
            -ms-flex: 1 0 350px;
            flex: 1 0 350px;
            
        }
    }
}


@media (min-width:768px) {
    #hero {  
        #hero-svg {
            width: 50% !important;
            left:0;
            transform: initial !important;
            transform-origin: initial;
            height:3px;
            margin:0 !important;
            svg {
                transform: scale(1.4) !important;
                width:600px;
                transform-origin: top right;
                right:0;
            }
        }
        #hero-svg-2 {
            svg {
                transform: scale(1.1) !important;
                transform-origin: 80% !important;
            }
        }
        .container {
            height: 57vh;
            justify-content: flex-end;
            padding: 0 2rem !important;
            hgroup {
                width:54%;
            }
            h1 {
                font-size:34px !important;
            }
            p {
                font-size:1rem !important;
            }

        }
    }
}


#hero { 
    background: linear-gradient(to top, #fff 19%, #fec15f 43%, #FD927B 90%) !important;
    #hero-svg {
        width: 400px;  
        margin: 0 auto; 
        position: relative; 
        z-index:999999; 
        max-width: 1440px;
        transform: var(--heroTransform);
        svg {    
            transform: scale(.9);
            position:absolute;        
        }
    }
    .container { 
        @include flex();
        @include align-items(center);
        padding: 17rem 1rem 0;
        hgroup {
            max-width:500px;
            h1 {
                margin:1rem 0;
            }
            p {
                margin:.5rem 0 0 0;
            }
            .btn-group {
                margin-top:2rem;
            }
        }
    }
} 

#desc {
    z-index:0;
    margin:0;
    position:relative;
    #hero-svg-2 {
        margin: 0 auto;
        position: relative;
        max-width:1580px;
        svg {     
            transform: scale(1.1);
            width:100%;
        }
    }
    .container {
        top:-65px;
        @include flex();
        @include align-items(center);
        @include flex-direction(column);
        >* {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        hgroup {
            max-width: 500px;
            h1 {
                margin:1rem 0;
            }
            p {
                margin:.5rem 0 0 0;
            }
        }
        #desc-art {
            width: 100%;
            padding: 2rem 1rem;
            svg {
                g {
                    circle {
                        color:white;
                        -webkit-animation: flash linear 1s infinite;
                        animation: flash linear 1s infinite;
                    }
                }
            }
        }
    }
} 
@media (min-width: 768px) {
    #desc {
        .container {
            margin-top: calc(-21vw);
            padding: 0 2rem;
            top:0;
            hgroup {
                width:54%;
                text-align:center;
            }
            #desc-art {
                width:50% !important;
            }
            h1 {
                font-size: 34px !important;
                margin:0 auto;
            }
            p {
                font-size: 1rem !important;
            }
        }
        
    }
       
}
@media (max-width: 767px) {
    #resources {
        ul#details-list >:nth-child(2) {
                order:-1;
            }  
    }
}
#resources {
    z-index:123;
    position: relative;
    margin-top:calc(10vw);
    ul#details-list {
        @include flex();
        @include flex-direction(column);
        margin-top: 6rem;
        >:nth-child(2) {
            min-height:560px;
            background: #8000ff !important;
            * {
                color:white;
            }
        }
        >:not(:nth-child(2)) hgroup {
            margin-top: -6rem;
        }
        .details-detail {
            position:relative;
            text-align: center;
            box-shadow: 0px 10px 50px -5px rgba(0,98,255,0.2);
            border-radius:4px;
            margin:1rem 0;
            hgroup {
                padding: 0 2rem 2rem;
                z-index:123;
                position:relative;
            }
        }
        >.details-detail {
            background:white;
            #details-txt {
                position:absolute;
                z-index:123;
                height: 100%;
                width:100%;
                top:0;
                @include flex();
                @include align-items(center);
                @include justify-content(space-between);
                #details-txt-inner {
                    @include flex();
                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    @include flex-direction(column);
                    @include justify-content(center);
                    max-width:500px;
                    min-height:100%;
                    hgroup {
                        padding: 0 2rem 0;
                    }
                }
            }
        }
        >:last-child {
            overflow:hidden;
            svg {
                transform:scale(.35);
                transform-origin:50% 30%;
            }
        }
        >:nth-child(1) {
            overflow:hidden;
            svg {
                transform:scale(.35);
                transform-origin:60% 25%;
            }
        }
        >:nth-child(2) {
            overflow:hidden;
            svg {
                transform:scale(.3);
                transform-origin:50% 20%;
                position: absolute;
                top:calc(-2vw);
            }
        }
        >* {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
    }
    #resources-bg-wrap {
        z-index: -1;
        width: 100%;
        margin: 0 auto;
        position: relative;
        max-width: 1580px;
        svg {
            position:absolute;
            transform:scale(2.2);
            transform-origin:20% 15%;
        }
    }
    .container {
        @include flex();
        @include align-items(center);
        flex-direction: column;
        padding-bottom: 4rem;
        #resources-svg {
            width:100%;
            padding:0rem 1rem;
            svg {
                transform:scale(.8);
            }
        }
        hgroup {
            max-width:530px;
        }
        #some-parent {
            width: 100%;
            max-width: 530px;
            margin-top:calc(20vw);
            button {
                margin-top:2rem;
            }
        }
        #resources-btns {
            @include flex();
            margin-bottom:1rem;
            >* {
                height:10px;
                width:10px;
                background:rgba(0,29,76,0.2);
                border-radius:10px;
                &:not(:first-child) {
                    margin-left:1rem;
                }
            }
        }
    }
    #river2-wrap {
        margin: 0 auto;
        position: relative;
        max-width:1580px;
        svg {     
            transform: scale(1.31);
            width:100%;
        }
    }
}
#resources[data-index='0'] #resources-btns>:nth-child(1) {
    background: rgba(0,98,255,0.4) !important; 
}
@media (min-width:768px) {
    #resources {
        #river2-wrap {
            svg {
                margin-top: -24rem;
            }
        }
        ul#details-list {
            @include flex-direction(row);
            top:calc(-45vw);
            padding-right:2rem;
            position: absolute;

            p {
                font-size:15px;
                font-weight:100;
                line-height:24px;
                letter-spacing:1px;
            }
            .details-detail {
                &:after {
                    position:absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    content:'';
                    box-shadow: 0px 10px 50px -5px rgba(0,98,255,0.2);
                    border-radius:4px;
                }
                #details-txt {
                    #details-txt-inner {
                        hgroup {
                            h6 {
                                font-size:36px;
                                line-height:58px;
                                font-weight:700;
                                margin:0;
                                letter-spacing:-.8px;
                            }
                        }
                    }
                }
            }
            >.details-detail {
                -webkit-box-flex: 35%;
                -webkit-flex: 35%;
                -ms-flex: 35%;
                flex: 35%;
                height:30%;
            }
            >*:not(:first-child) {
                margin-left:2rem;
            }
        }
        #resources-bg-wrap {
            svg {
                transform:scale(1.5);
                transform-origin: 50% 15%;
                height:850px;
            }
        }
        .container {
            min-height:800px;
            @include justify-content(space-between);
            @include align-items(flex-start);
            @include flex-direction(row);
            #resources-svg {
                width:50%;
            }
            #some-parent {
                width:50%;
                .scrollable {
                    hgroup {
                        h1 {
                            font-size: 34px !important;
                            margin:0 auto;
                        }
                        p {
                            font-size: 1rem !important;
                        }
                    }
                }
            }
            #resources-btns {
                @include flex();
                margin-bottom: 1rem; 
                >* {
                    height:10px;
                    width:10px;
                    background:rgba(0,29,76,0.2);
                    border-radius:10px;
                    &:not(:first-child) {
                        margin-left:1rem;
                    }
                }
                li {

                }
            }
            hgroup {
                max-width:530px;
            }
        }
    }
}

.clickables {
    >* {
        cursor:pointer;
    }
}

section#meetus {
    position:relative;
    #meetus-content {
        position:relative;
        z-index:1;
        padding:0rem 2rem 3rem;
        #terra-team {
            .meetus-content-team-row {
                flex-wrap: wrap;
                li {
                    margin-top:2rem;
                    -webkit-box-flex: 1 0 50%;
                    -webkit-flex: 1 0 50%;
                    -ms-flex: 1 0 50%;
                    flex: 1 0 50%;
                    h5 {
                        margin:1rem 0 0 0;
                        font-size:1.33rem;
                    }
                    svg {
                        box-shadow: 0px 10px 50px -10px #8000ff;
                        border-radius: 5px;
                        height: 155px;
                        width:100%;
                    }
                }

            }
        }
    }
}

@media (max-width: 768px) {
    #meetus {
        #meetus-content {
            #terra-team {
                .meetus-content-team-row {
                    >:nth-of-type(odd) {
                        padding-right:1rem;
                    }
                    >:nth-of-type(even) {
                        padding-left:1rem;
                    }
                }
            }
        }
    }
}

@media (min-width:768px) {
    #meetus {
        padding:0 0 10rem 0;
        margin-top: -25rem;
        #meetus-content-title {
            text-align: center;
            margin:0 auto;
        }
        #meetus-content {
            #terra-team {
                .meetus-content-team-row {
                    li {
                        padding-left: 1rem;
                        -webkit-box-flex: 1 0 25%;
                        -webkit-flex: 1 0 25%;
                        -ms-flex: 1 0 25%;
                        flex: 1 0 25% !important;
                        svg {
                            height:161px !important;
                            max-width:200px;
                        }
                    }
                }
            }
        }
    }
}
// @import '_design';
@import '_client';   